@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

    /*Nagłówek strony*/
.page-header {
    width: 100%;
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
    display: flex;
    justify-content: center;
}
.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    text-align: left;
    color: var(--color-primary);
}
.menu {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}
.menu-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    text-align: center;
    color: var(--color-grey);
}
.menu-list-a:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-list-b:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-list-c:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-list-d:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /*Sekcja otwierająca*/
.main {
    width: 100%;
    height: 712px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 49px;
    line-height: 57px;
    text-align: center;
    color: var(--color-black);
    margin-top: 130px;
    margin-bottom: 20px;
}
.content-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: var(--color-black);
    margin-bottom: 60px;
}
.btn-content {
    background-color: var(--color-primary);
    border-radius: 40px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: var(--color-white);
    text-decoration: none;
    padding: 22px 157px 23px;
}
.content-img {
    width: 100%;
    height: 594px;
}

    /*Statystyki*/
.stats {
    display: flex;
    justify-content: center;
    height: 531px;
}
.stats .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.stats-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--color-black);
    margin-top: 100px;
    margin-bottom: 100px;
}
.stats-column {
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.stats-column-a {
    width: 163px;
    height: 168px;
}
.stats-img-a {
    width: 44px;
    height: 52px;
    z-index: 2;
    position: relative;
    left: 20px;
    top: 3px;
}
.stats-column-a:before {
    content: "";
    width: 63px;
    height: 63px;
    background-color: var(--color-redish);
    border-radius: 50%;
    display: block;
    position: absolute;
}
.stats-column-b {
    width: 163px;
    height: 168px;
}
.stats-column-b:before {
    content: "";
    width: 63px;
    height: 63px;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: block;
    position: absolute;
}
.stats-img-b {
    width: 65px;
    height: 52px;
    z-index: 2;
    position: relative;
    left: 20px;
    top: 5px;
}
.stats-column-c {
    width: 163px;
    height: 168px;
}
.stats-column-c:before {
    content: "";
    width: 63px;
    height: 63px;
    background-color: var(--color-green);
    border-radius: 50%;
    display: block;
    position: absolute;
}
.stats-img-c {
    width: 52px;
    height: 48px;
    z-index: 2;
    position: relative;
    left: 25px;
    top: 5px;
}
.stats-column-d {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
}
.stats-column-numbers {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 6px;
    color: var(--color-black);
    text-align: center;
    margin-bottom: 19px;
    margin-top: 20px;
}
.stats-column-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: var(--color-grey);
}

    /*Benefity*/
.benefits {
    background-color: var(--color-light-grey);
    height: 1395px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.benefits .container {
    justify-content: center;
    height: 100%;
}
.boxes {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box-a {
    width: 1124px;
    height: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    margin-top: 105px;
    border-radius: 5px;
}
.box-a-left {
    width: 416px;
    height: 188px;
    margin-left: 35px;

}
.box-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: var(--color-black);
    text-align: left;
}
.box-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black);
    text-align: left;
    margin-top: 30px;
}
.box-text:after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--color-redish);
    display: block;
    margin-top: 50px;
}
.box-a-right {
    width: 433px;
    height: 294px;
    position: relative;
    margin-right: 117px;
}
.box-a-right:before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--color-redish);
    border-radius: 41px;
    transform: rotate(45deg);
    position: absolute;
    display: block;
    right: 0;
}
.box-a-img {
    width: 386px;
    height: auto;
    position: relative;
    top: 65px;
}
.box-b {
    width: 1124px;
    height: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    margin-top: 37px;
    border-radius: 5px;
}
.box-b-img {
    width: 426px;
    height: auto;
    position: relative;
    z-index: 2;
}
.box-b-left {
    margin-left: 70px;
}
.box-b-left:before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--color-primary);
    display: block;
    border-radius: 50%;
    position: absolute;
}
.box-b-right {
    width: 416px;
    height: 230px;
    margin-right: 20px;
}
.box-b-text:after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--color-primary);
    display: block;
    margin-top: 50px;
}
.box-c {
    display: flex;
    margin-top: 38px;
}
.box-c-1 {
    max-width: 620px;
    background-color: var(--color-white);
    padding: 70px 35px;
}
.box-c-text:after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--color-green);
    display: block;
    margin-top: 50px;
}
.box-c-2 {
    width: 440px;
    height: 370px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-green);
    border: none;
    margin-left: 60px;
}
.box-c-img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}

    /*Pricing*/
.pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}
.pricing .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing_title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--color-black);
}
.pricing_boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.pricing_box {
    width: 370px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-redish);
}
.pricing_details {
    margin-top: 34px;
    margin-bottom: 60px;
    text-align: center;
}
.pricing_type {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--color-black);
    font-size: 20px;
    line-height: 1px;
    text-align: left;
}
.pricing_price {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 46px;
    line-height: 2px;
    color: var(--color-redish);
    margin-top: 50px;
}
.pricing_limited {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 1px;
    color: var(--color-black);
    margin-top: 50px;
}
.pricing_items {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 41px;
}
.pricing_item {
    font-size: 14px;
    margin-bottom: 20px;
}
.pricing_item::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url(../assets/Ckechmark-2.svg);
}
.pricing_item-not::before {
    content: "";
    background-image: url(../assets/Close.svg);
}
.btn {
    width: 150px;
    height: 50px;
    border-radius: 23px;
    position: relative;
    bottom: -25px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 41px;
    background-color: var(--color-redish);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
}
.btn-professional {
    background-color: var(--color-primary);
}
.btn-premium {
    background-color: var(--color-green);
}
.pricing_box-basic .pricing_price {
    margin-bottom: 30px;
}
.pricing_box-professional {
    width: 400px;
    margin: 0 40px;
    border: 1px solid var(--color-primary);
    box-shadow: 5px 1px 27px var(--color-primary-shadow);
}
.pricing_box-professional .pricing_type {
    font-size: 21px;
}
.pricing_box-professional .pricing_item {
    margin-bottom: 25px;
}
.pricing_box-premium {
    border: 1px solid var(--color-green);
}