$colorPrimary: #08A6E4;
$colorPrimaryShadow: rgba(7, 172, 230, .16);
$colorRedish: #FB3B64;
$colorGreen: #55DFB4;
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorGrey: #A5A5A5;
$colorLightGrey: #F7F7F7;
$buttonRadius: 35px;
$fontRaleway: "Raleway", sans-serif;
$fontOpenSans: "Open Sans", sans-serif;